@font-face {
  font-family: fontSummit;
  src: url("./Fonts/nexa-extrabold.ttf");
}

#body {
  align-items: flex-start;
  font-family: fontSummit !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(1, 23, 97);
  background: linear-gradient(160deg, rgb(0 15 64) 0%, #105f8d 100%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: white;
}
p {
  color: white;
}
span {
  color: white !important;
}
.icon {
  font-size: 35px;
}

/* --------------------login------------------- */

#login-background {
  background-color: #0000009e;
  border-radius: 10px;
  padding: 60px;
  padding-top: 20px;
}
#login-titulo {
  color: white;
  font-weight: 100;
  padding: 10px;
  margin-bottom: 45px;
}
.login-input {
  background-color: transparent;
  border-radius: 6px;
  border: white solid 1px;
  padding: 7px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}
.login-input:focus::placeholder {
  color: transparent;
}
.login-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.652);
  opacity: 1; /* Firefox */
}
#login-button {
  background-color: #1c7098;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  color: white;
}

#summit-titulo {
  text-align: center;
  color: white;
  font-family: fontSummit;
}
#summit-img {
  text-align: center;
  max-width: 150px;
}

/* -------------------table---------------------- */

table {
  width: 100% !important;
  table-layout: fixed !important;
}

#table-header {
  background-color: rgba(255, 255, 255, 0.3);
}
#table-body {
  height: 665px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#th {
  padding: 0px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}
#td {
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}
.tdNome #td-footer {
  padding-top: 30px;
}
.tdIndex {
  width: 70px;
}
.tdSku {
  width: 90px;
}
.tdCaixaMaster {
  width: 108px;
}
.tdDescontoCaixaMaster {
  width: 85px;
}
.tdValor {
  width: 105px;
}
.tdQuantidade {
  width: 120px;
  padding: 2px 0px !important;
}
.tdPreco {
  width: 130px;
}
.tdEstoque {
  width: 130px;
}
#tr {
  color: white;
}

.table-input {
  width: 100%;
  border: rgba(255, 255, 255, 0.5) solid 1px;
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
  color: white;
}

.table-input:focus {
  outline: none !important;
  border: white solid 2px;
}

.quantity-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000047;
  border-radius: 30px;
}
.quantity-input:focus {
  outline: none !important;
  border: white solid 2px;
}

.quantity-input__modifier {
  padding: 0px;
  width: 3rem;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  color: white;
}

.quantity-input__screen {
  width: 4rem;
  padding: 0px;
  font-size: 1.5rem;
  border: none;
  text-align: center;
  background-color: transparent;
  color: white;
}
.quantity-input__screen:focus {
  outline: none !important;
  border: white solid 2px;
  border-radius: 3px;
}
.nome {
  font-size: 15px !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* ------------------------header------------------------ */
.header {
  font-size: 2rem;
  color: white;
  background-color: #00000070;
  height: 100px;
  margin-bottom: 25px;
  width: 100%;
  margin: 0px !important;
}
.h3Header:hover {
  cursor: pointer;
}
/* -----------------------vnda----------------------- */
.tdRowVnda {
  padding: 10px 7px !important;
}
.tdRowVndaMain {
  text-transform: capitalize;
}
.tdRowVndaMain:hover {
  box-shadow: inset white 0px 0px 20px 5px;
  color: black;
  /* cursor: pointer; */
}
.input1 {
  width: 100%;
  background-color: transparent;
  border: white solid 1px;
  margin: 0px 0px 30px 0px;
  border-radius: 10px;
  height: 5rem;
  font-size: 4rem;
  color: white;
  text-align: center;
}
h2 {
  color: white;
}
/* --------------------vndaModal------------------ */

.vndaModal {
  backdrop-filter: blur(5px);
  background-color: #ffffff00;
}
.vndaModalHeader {
  color: white;
  border-bottom: 1px solid #6c757d !important;
}
.vndaModalBody {
  color: white;
}
.buttonModal {
  background-color: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}
.modalHeaderButtons {
  padding: 10px 20px 20px 20px;
  font-size: 15px;
}
/* ------------------ checkBox--------------- */
.selectionCard {
  background-color: white;
  border-radius: 10px;
  box-shadow: #6c757d 0px 0px 8px 3px;
  margin: 15px;
  padding: 15px;
  height: 340px;
}
.iconLarge {
  font-size: 160px;
}
.buttonLarge {
  width: 100%;
  background-color: transparent;
  height: 100%;
  border: none;
}
#novoOrcamento {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 25px;
  margin: 10px;
  font-size: 12px;
}
#coluna {
  width: 125px;
  padding: 0px;
}

.trOrcamentosSalvos:hover {
  cursor: pointer;
  box-shadow: inset #ffffff9e 0px 0px 20px 0px;
}
.inputHomeTitulo {
  font-family: fontSummit;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}
.inputHomeTitulo:focus {
  outline: none !important;
}
.imageHeader:hover {
  cursor: pointer;
}
